@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

header{
    width: 100%;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #F9F9F9;

}

nav ul li{

    color: #C4C4C4;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style: none;
    display: inline;
    padding: 0px 20px;
}

nav ul li:hover{
    cursor: pointer;color: rgba(5, 139, 140, 1);
    
}

.services_btn{
    color: #058B8C;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.phone_btn{
    width: 232px;
    height: 89px;
    color: #ffffff;
    border-radius: 48px;
    background: #058B8C;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.20), 3px 4px 10px 0px rgba(0, 0, 0, 0.20) inset;

}



footer {
    width: 100%;
    margin: auto;
    padding: 10px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
}

.col_one{
    margin-left: 90px;
}

.col_one_txt {
    color: #8F8F8F;
    font-weight: 400;
    line-height: 30px; /* 166.667% */

}

.col_two{
    margin-left: 5px;
}



.col_two ul{
    color: #8F8F8F;
    list-style: none;
    
}

.col_two ul li{
    padding: 20px;
}
.col_three ul{
    color: #8F8F8F;
    list-style: none;
    line-height: 30px; /* 166.667% */
}


.col_four ul li {
    list-style: none;
    color: #8F8F8F;
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 12px 0px;
}

.news_letter {
    display: flex;
    padding: 15px 0px;
}

.news_letter input {
    width: 75%;
    border-radius: 341px;
    border: 2px solid #058B8C;
    height: 48px;
    padding-left: 15px;
}

.news_letter button {
    width: 23%;
    margin-left: 1rem;
    border-radius: 48px;
    background: #058B8C;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.20), 3px 4px 10px 0px rgba(0, 0, 0, 0.20) inset;
    color: #FFF;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    /* 166.667% */
    border: none;
}